*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container{ 
    width: 1000px;
    height: 1000px;
    margin: 20px 20px;
}

.container div{
     width: 70px; 
     height: 70px; 
     position: relative;
}

.block1 {
    border: 2px solid red;
}

.block2 {
    border: 2px solid blue;
    left: 45px;
    bottom: 25px;
}

.block3 {
    border: 2px solid green;
    left: 90px;
    bottom: 50px;
}